/* p {
    color: red;
} */

html {
    font-size: 30px;
}

body {
    background-color: teal;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    transition: .8s;

}

form {
    width: 400px;
    margin: 0 auto;
}

.new-para {
    text-align: center;
    font-size: 50px;
    background-color: black;
    padding: 50px;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

input[type="number"] {
    padding: 10px 20px;
}

#btn {
    margin: 10px 0;
    padding: 15px 12px;
    border-radius: 10px;
    border: 2px solid white;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: teal;
    color: white;
    transition: .8s;
}

#btn:hover {
    background-color: white;
    color: teal;
}
